/* Import the Tailwind base styles */
@import "tailwindcss/base";

/* Set the background color for all pages */
body {
  background-color: rgb(231, 231, 231);
}

/* Import the Tailwind utility classes */
@import "tailwindcss/utilities";

/* import font advocate.woff2
 */

@font-face {
  font-family: "Advocate";
  src: url("./fonts/PlayfairDisplay.ttf") format("truetype");
  /* and italic */
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "AdvocateParagraph";
  src: url("./fonts/AdvocateParagraph.woff2") format("woff2");
}
* {
  font-family: "AdvocateParagraph", sans-serif;
}
.advocate {
  font-family: "Advocate", sans-serif;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  border-radius: 8px;
  background-color: #e7e7e7;
  border: 1px solid #cacaca;
  box-shadow: inset 0 0 6px rgb(231, 231, 231);
}
::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: rgb(59, 65, 77);
}

.advocateSlim {
  font-family: "AdvocateSlim", sans-serif;
  font-weight: 400;
}
/* Path: src\components\Header.css */
